<div class="container">
  <mat-card>
    <h1>
      <mat-card-title translate>APP_NAME</mat-card-title>
    </h1>
    <mat-card-content>
      <mat-icon>code</mat-icon>
      <span translate>Version</span> {{version}}
       <p> Magenic Masters Angular/TypeScript Course Summer 2018</p>
        Matthew Delisle<br/>
        Steven Frankenfield<br/>

        <p>This application provides a real-time chat conversation below randomly selected videos from youtube.</p>
    </mat-card-content>
  </mat-card>
</div>
